.subTitle {
    padding: 20px;
    color: aquamarine;
    font-weight: 800;
    font-size: 40px;
}

.sub-title {
    padding: 20px;
    color: aquamarine;
    font-weight: 800;
    font-size: 40px;
}

.description {
    margin-top: 60px;
}
